* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(25, 24, 24);
}

h1 {
  color: white;
  font-size: 3rem;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid white;
}

button {
  color: orangered;
  padding: 20px 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

button:active {
  scale: 0.95;
}
