* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.box {
  height: 100px;
  width: 100%;
  max-width: 600px;
  border: 5px solid white;
  border-radius: 5px;
 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 20px 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

button:active {
  scale: 0.95;
}
