* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: 'Poppins', sans-serif; 
  background: linear-gradient(135deg, rgb(25, 24, 24) 0%, rgb(50, 48, 48) 100%); 
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem; 
  padding: 1.25rem 1.875rem; 
  border-radius: 5px;
  border: 1px solid white;
  text-align: center; 
  max-width: 90%; 
  box-sizing: border-box;
}

button {
  color: white; 
  background-color: rgba(255, 68, 0, 0.681);
  padding: 1.25rem 1.25rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease-in-out; 
}

button:hover {
  transform: translateY(-2px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
  background-color: #ff6600; 
}

button:active {
  scale: 0.95;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem; 
    padding: 1rem 1.5rem;
  }
  button {
    font-size: 1.2rem; 
    padding: 1rem 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem; 
    padding: 0.8rem 1rem;
  }
  button {
    font-size: 1rem; 
    padding: 0.8rem 0.8rem;
  }
  main {
    gap: 15px;
  }
}
