* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e3edf7;
}

.card {
  width: 250px;
  background: #e3edf7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  text-align: center;
}

.card h1 {
  font-size: 1.8rem;
  color: rgb(0, 140, 255);
  margin-bottom: 10px;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

  /* 1) andar ka circle mask (same bg color) 
     2) bahar wali green ring conic-gradient se */
  background: radial-gradient(closest-side, #e3edf7 79%, transparent 80% 100%),
    conic-gradient(#4caf50 0deg, #e3edf7 0deg);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.progress {
  font-size: 2rem;
  font-weight: 600;
  color: #555;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #070707;
  color: white;
  font-size: 1rem;
  font-family: futura;
  cursor: pointer;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #45a049;
}
