* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: futura;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}

.card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.card h3 {
  margin: 20px 0 10px 0;
  font-size: 28px;
}

.card h4 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 200;
  color: crimson;
}
.card p {
  font-size: 16px;
  color: #666;
}
