* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282626;
}
.piano {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.key {
  height: 220px;
  width: 50px;
  border: 1px solid rgb(52, 51, 51);
  display: flex;
  justify-content: center;
  align-items:flex-end ; 
  font-family: system-ui;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.key.white {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #ffffff;
  background: linear-gradient(
    209deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 212, 212, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  z-index: 1;
  padding-bottom: 15px; 
}

.key.black {
  background: #030200;
  background: linear-gradient(
    209deg,
    rgba(3, 2, 0, 1) 0%,
    rgba(0, 0, 0, 1) 3%,
    rgba(9, 17, 10, 1) 4%,
    rgba(0, 0, 0, 1) 17%,
    rgba(28, 28, 28, 1) 100%
  );
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 120px;
  width: 40px;
  color: white;
  position: relative;
  z-index: 2;
  margin-right: -20px;
  margin-left: -20px;
  padding-bottom: 8px; 
}

.key.black:active {
  background: #333;
}
.key.white:active {
  background: #ddd;
}
.key span {
  margin-bottom: 10px;
}
.key.black span {
  margin-bottom: 5px;
}
.key.disabled {
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .key {
    height: 150px;
    width: 40px;
    font-size: 12px;
  }
  .key.black {
    height: 90px;
    width: 30px;
    left: -15px;
    margin-right: -15px;
    margin-left: -15px;
  }
}

